.favCityItem {
    position: relative;
 margin: 0 auto;
    width: 100%;
    max-width: 90%;
    height: 60px;
  /*  background-color: red; */
    border-radius:  2px solid black;
    text-align: left;
    color: red;
}
.favCityItemFon{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(153, 247, 99);
    opacity: 0.5;
    height: 60px;
    width: 100%;
    max-width: 100%;
    z-index: -1;
}




.cl-btn-7 {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative; 
  float: right;
  z-index: 1;
 /* margin: 20px auto; */
 display: flex;
 align-items:  center;
 top: -20px;
  cursor: pointer;
}
.cl-btn-7:before {
  content: '+';
  color: #337AB7;
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  font-size: 50px;
  line-height: 1;
  top: -5px;
  left: 6px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.cl-btn-7:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #337AB7;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transform: scale(0.01);
}
.cl-btn-7:hover:after {
  transform: scale(1);
}
.cl-btn-7:hover:before {
  transform: scale(0.8) rotate(45deg);
  color: #fff;
}


.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */

.container {
  display: grid;
  place-items: center;  
  text-align: center;
 /* height: 100vh; */
  position: relative;
  top: 130px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  /*font-size: 8.5vw; */
  background-color: rgb(252, 247, 247);
  border: 2px solid black;
  font-size: 25px;
  text-transform: uppercase;
}