.navigation {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  position: fixed;
    max-width: 1440px;
    width: 100%;
    height: 60px;
    display: flex;
  
    transition: all 1s ease;
  gap: 50px;
}
.navigation--open {
  height: 200px;
  transition: all 1s ease;
}
.fonNavigation{
/*background-color: red; */
background: linear-gradient(45deg, blue, rgb(129, 186, 247));
position: absolute;
max-width: 100%;
width: 100%;
height: 60px;
opacity: 0.5;
z-index: -1;
}
.logoOfWebPage {
 
    width: 75px;
    height: 50px;
    cursor: pointer;
}
.lineNavigation {
  display: flex;
  
  position: relative;
}
.burger {
  display: none;
}
.renderedCountry{
 
   /* width: 330px; */
   width: 100%;
  /* float: left; */
  position: relative;
  left: 0;
  justify-content: left;
   max-width: 100%;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid black;
    z-index: 45;
}
.inputSearchForm{
    width: 300px;
    height: 15px;
 cursor: pointer;
 padding-left: 30px;
}
.navItem:nth-child(2){
  transform: translateY(20px);
}
.inputSearch{
  display: flex;
  position: relative;
}
.searchButton {
  position: absolute;
  left: 100%;
}
.searchCountries {

    position: absolute;
   margin-left:155px ; 
 
   transform: translateY(-21px);
}

@media (max-width: 1257px){
 .navItem {
  transform: translateX(-50px);
 }
 .navItem:nth-child(1) {
  transform: translateX(50px);
 }
}
@media (max-width: 1150px){
  .navigation{
    height: 100px;
  }
  .fonNavigation{
    height: 100px;
  }
  .navigation {
    gap: 20px
  }

}
@media (max-width: 1033px){
  .navItem:nth-child(1){
    transform: translateX(0);
  }
 /* .inputSearch{
    transform: translateX(-50px);

  } */
  .inputSearchForm {
    width: 200px;
  }
  .navigation{
    gap: 10px
  }
  .navItem{
    margin-left: 20px;
  }
  .listOfSearchedCities{
    width: 200px;
    transform: translateX(-50px);
  }
 /* .renderedCountry{
    width: 225px;
  } */
}
.txtx{
  font-size: 14px;
}

@media (max-width: 900px){

  .inputSearchForm{
   width: 400px;
  }
 .txtx {
 color: red;
 
transform: translate(200px, -20px);
 }
 .textNav {
  color: red;
 }
 .logoOfWebPage, .navItem:nth-child(3), .navItem:nth-child(4), .navItem:nth-child(5){
  display: none;

}
.burger {
  display: block;
 position: absolute;
 right: 0;
}
.listOfSearchedCities{
  width: 200px;
  transform: translateX(-50px);
}
/*.renderedCountry{
  width: 430px;
} */
}




@media (max-width: 766px){

.logoOfWebPage, .navItem:nth-child(3), .navItem:nth-child(4), .navItem:nth-child(5){
  display: none;

}
.burger {
  display: block;
 /* transform: translate(-20px, 10px); */
}
  }
  @media (max-width: 656px){
    .inputSearch{
      width: 400px;
    }
   /* .renderedCountry{
      width: 330px;
    } */
  }
  .navItemSearch{
    cursor: pointer;
  }
  @media (max-width: 570px) {
    .navItem:nth-child(2){
      transform: translateX(-80px) translateY(55px);
    }
  }
  @media (max-width: 524px){
    .inputSearch {
      width: 300px;
    /*  transform: translateX(-80px); */
    }
    .listOfSearchedCities{
      width: 200px;
      transform: translateX(-80px);
    }
    /*.renderedCountry{
      width: 230px;
    } */
  }


@media  (max-width: 370px){
 /* .inputSearch {
    transform: translateY(35px) translateX(-90px);
  } */
  .listOfSearchedCities{
    width: 200px;
    transform: translate(-90px, 35px);
  }
 /* .renderedCountry{
    width: 230px;
  } */
}

.ccd {
    height: 20px;
    overflow: hidden;
  /*  width: 60%; */
  width: 240px;
    margin:0 auto; 
  /*  position: absolute; */
    position: relative; 
    transform: translateX(210px) translateY(-20px) ; 
}

a.ddott {
    margin:0 auto;
    display: block;
    line-height: 20px;
  /*  height: 50px; */
  height: 20px;
    width: 24%;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 100px 0 #FFF,1px 76px 10px #000;
    color: #FFF;
    background: #5D8EC7;
    border-right: 2px solid #FFF;
    border-left: 2px solid #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}
a.ddott:hover {
    text-shadow: 0 50px 0 #FFF, 1px 51px 20px #FFF;
    margin-top: -50px;
    height: 100px;
    background: #222;
}
.textNav{
    font-weight: 800;
    color: #fff;
    cursor: pointer;
}

.langSelection{
    position: absolute;
    width: 40px;
    height: 30px;
 /*   border-radius: 50%; */
 left: 85%;
 transform: translateY(5px);
}
.imgSelectionItem {
    width: 40px;
    height: 30px;
  /*  border-radius: 50%; */
    cursor: pointer;
    float: right;
}
/*
box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
*/
.navigationWrapper {
  padding-left: 100px;
}
.navItem {
  margin-left: 60px;
 
}
.navItem:nth-child(3), .navItem:nth-child(4), .navItem:nth-child(5) {
  transform: translateY(10px);
}



.button-85 {
 /* padding: 0.6em 2em; */
 transform:  translateY(-3px);
 width: 60px;
 height: 20px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #f4a033;
  cursor: pointer;
  position: relative;
  z-index: 0;
  /*border-radius: 10px; */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #545352;
  left: 0;
  top: 0;
  /*border-radius: 10px; */
}

 .langCheck {
  position: absolute;
  top: 30px; /* здесь указываем желаемую высоту над картинкой */
  display: none; /* начальное значение свойства display */
  transform: translateY(10px);
}

.navItem:hover .langCheck {
  display: block; /* показываем langCheck при наведении курсора на navItem */
}
.currentSelectedLang {
  transform: translateY(10px);
}