.navigation {
  position: relative;
  margin: 0 auto;
   /* background-color: red; */
    max-width: 1440px;
    width: 100%;
    height: 60px;
    display: flex;
  /*  justify-content: space-between; */
  display: flex;
  gap: 50px;
    padding-right: 50px;
}
.fonNavigation{
/*background-color: red; */
background: linear-gradient(45deg, blue, rgb(129, 186, 247));
position: absolute;
max-width: 100%;
width: 100%;
height: 60px;
opacity: 0.5;
z-index: -1;
}
.logoOfWebPage {
    width: 250px;
    height: 250px;
    transform: translateY(-100px);
    cursor: pointer;
}
.renderedCountry{
    width: 330px;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid black;
    z-index: 45;
}
.inputSearchForm{
    width: 300px;
 cursor: pointer;
 padding-left: 30px;
}
.inputSearch{
    cursor:  pointer;
    position: relative;
    width: 300px;
    right: 50px;
    transform: translateY(15px);
    border: none;
    outline: none;
    padding-left: 15px;
    color:rgb(136, 133, 133)
}
.searchCountries {

    position: absolute;
   margin-left:155px ; 
 
   transform: translateY(-21px);
}
.ccd {
    height: 20px;
    overflow: hidden;
  /*  width: 60%; */
  width: 240px;
    margin:0 auto; 
  /*  position: absolute; */
    position: relative; 
    transform: translateX(210px) translateY(-20px) ; 
}

a.ddott {
    margin:0 auto;
    display: block;
    line-height: 20px;
  /*  height: 50px; */
  height: 20px;
    width: 24%;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 100px 0 #FFF,1px 76px 10px #000;
    color: #FFF;
    background: #5D8EC7;
    border-right: 2px solid #FFF;
    border-left: 2px solid #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}
a.ddott:hover {
    text-shadow: 0 50px 0 #FFF, 1px 51px 20px #FFF;
    margin-top: -50px;
    height: 100px;
    background: #222;
}
.textNav{
    font-weight: 800;
    color: #fff;
    cursor: pointer;
}

.langSelection{
    position: absolute;
    width: 40px;
    height: 30px;
 /*   border-radius: 50%; */
 left: 85%;
 transform: translateY(5px);
}
.imgSelectionItem {
    width: 40px;
    height: 30px;
  /*  border-radius: 50%; */
    cursor: pointer;
    float: right;
}
/*
box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
*/